/*
- - - - -
dramate: Simple Actor Portfolio Site Maker
- - - - -
Created by Tabitha Riley
https://www.tabithariley.digital
https://github.com/tabitha-r
https://www.dramate.co.uk/
- - - - -
Table of Contents:
1) External Imports
2) Abstracts
*/

/* 1) External Imports */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,400;0,900;1,400&display=swap');
