/* The general styling for the side panel, including in/out animation. */
.editor {
    height: 100%;
    z-index: 1;
    text-align: center;

    .editor-open {
        width: 20rem;
        transition: width .4s ease;

        .editor-content {
            transform: translateX(0%);
            transition: transform .6s ease;
        }
    
        .panel-toggle {
            &:hover {
                .fa-secondary {
                    fill: $dm-red;
                }
            }
        }
    }
    
    .editor-closed {
        width: 2rem;
        transition: width .4s ease;

        .editor-content {
            transform: translateX(-25rem);
            transition: transform .4s ease;
        }
    
        .panel-toggle {
            &:hover {
                .fa-secondary {
                    fill: $dm-yellow;
                }
            }
        }
    }

    .editor-open, 
    .editor-closed {
        background-color: $dm-brown;
        padding: 1rem 1.3rem;
        display: flex;
        flex-flow: column nowrap;
        height: 100%;
        box-shadow: 0px 2px 10px $dm-black;
    }

    .panel-toggle {
        margin-left: auto;
        padding: 0.2rem;
        font-size: 2rem;
        background-color: transparent;
        border: none;
        color: $dm-white;
        transition: transform .5s ease;

        .fa-secondary {
            transition: .2s ease;
        }

        &:hover {
            cursor: pointer;
            transform: scale(120%);

            .fa-secondary {
                opacity: 1.0;
            }
        }

        &:active {
            transform: rotate(180deg);
        }
    }

    .logo {
        transform-origin: top left;
        transform: scale(50%);
        margin: -2rem auto -8rem auto;
        padding: 0;
        z-index: 10;
    }

    h1 {
        @extend %dm-heading-normal;
        color: $dm-white;

        .bold {
            @extend %dm-heading-bold;
        }
    }

    .editor-content {
        width: 19rem;

        .copyright {
            color: $dm-white;
            font-size: 14px;

            a {
                text-decoration: none;
                color: $dm-white;
                animation-duration: 5s;
                animation-iteration-count: infinite;

                &:hover {
                    cursor: pointer;
                }
            }

            .fa-secondary {
                animation-duration: 5s;
                animation-iteration-count: infinite;
            }

            &:hover {
                .fa-secondary {
                    opacity: 1.0;
                    animation-name: rainbow;
                    animation-timing-function: ease;
                }

                a {
                    animation-name: rainbow;
                    animation-timing-function: ease;
                }
            }
        }
    }
}

@keyframes rainbow {
    0% {
        color: $dm-red;
        fill: $dm-red;
    }
    16% {
        color: $dm-peach;
        fill: $dm-peach;
    }
    32% {
        color: $dm-yellow;
        fill: $dm-yellow;
    }
    48% {
        color: $dm-green;
        fill: $dm-green;
    }
    64% {
        color: $dm-teal;
        fill: $dm-teal;
    }
    80% {
        color: $dm-blue;
        fill: $dm-blue;
    }
    100% {
        color: $dm-red;
        fill: $dm-red;
    }
}