.editor {
    .editor-menu {
        text-align: left;
    }

    .multi-op {
        background-color: $dm-faded-brown;
        padding: 0.6rem 1rem;
        border-radius: 15px;
        margin: 0.4rem 0;
    }
}