/* dramate specific colours */
$dm-teal: #16ae9f;
$dm-blue: #2dbad2;
$dm-yellow: #f0bb54;
$dm-red: #e54b6d;
$dm-peach: #f39580;
$dm-green: #b7d58b;
$dm-brown: #50484b;
$dm-black: #282426;
$dm-white: #ffffff;


