/* dramate specific colours */
$dm-teal: #16ae9f;
$dm-blue: #2dbad2;
$dm-yellow: #f0bb54;
$dm-red: #e54b6d;
$dm-peach: #f39580;
$dm-green: #b7d58b;
$dm-brown: #50484b;
$dm-black: #282426;
$dm-white: #ffffff;
$dm-faded-teal: rgba(23, 173, 158, 0.4);
$dm-faded-blue: rgba(45, 186, 210, 0.4);
$dm-faded-yellow: rgba(240, 187, 84, 0.4);
$dm-faded-red: rgba(229, 75, 109, 0.4);
$dm-faded-peach: rgba(243, 149, 128, 0.4);
$dm-faded-green: rgba(183, 213, 139, 0.4);
$dm-faded-brown: rgba(80, 72, 75, 0.2);
$dm-faded-black: rgba(40, 36, 38, 0.4);
$dm-faded-white: rgba(255, 255, 255, 0.4);


