/*
- - - - -
dramate: Simple Actor Portfolio Site Maker
- - - - -
Created by Tabitha Riley
https://www.tabithariley.digital
https://github.com/tabitha-r
https://www.dramate.co.uk/
- - - - -
Table of Contents:
1) External Imports
2) Abstracts
3) Site Editor
4) Site Preview
5) Layout Styles
*/
/* 1) External Imports */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,400;0,900;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
/* 2) Abstracts */
/* Import all abstract files for easy import into App.scss */
/* Mixins */
/* Placeholders */
/* dramate specific font styles */
.editor h1 .bold {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
}

.editor h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

/* Variables */
/* dramate specific colours */
/* 3) Site Editor */
/* Import all editor files for easy import into App.scss */
/* Components */
/* The general styling for the side panel, including in/out animation. */
.editor {
  height: 100%;
  z-index: 1;
  text-align: center;
}
.editor .editor-open {
  width: 20rem;
  transition: width 0.4s ease;
}
.editor .editor-open .editor-content {
  transform: translateX(0%);
  transition: transform 0.6s ease;
}
.editor .editor-open .panel-toggle:hover .fa-secondary {
  fill: #e54b6d;
}
.editor .editor-closed {
  width: 2rem;
  transition: width 0.4s ease;
}
.editor .editor-closed .editor-content {
  transform: translateX(-25rem);
  transition: transform 0.4s ease;
}
.editor .editor-closed .panel-toggle:hover .fa-secondary {
  fill: #f0bb54;
}
.editor .editor-open,
.editor .editor-closed {
  background-color: #50484b;
  padding: 1rem 1.3rem;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  box-shadow: 0px 2px 10px #282426;
}
.editor .panel-toggle {
  margin-left: auto;
  padding: 0.2rem;
  font-size: 2rem;
  background-color: transparent;
  border: none;
  color: #ffffff;
  transition: transform 0.5s ease;
}
.editor .panel-toggle .fa-secondary {
  transition: 0.2s ease;
}
.editor .panel-toggle:hover {
  cursor: pointer;
  transform: scale(120%);
}
.editor .panel-toggle:hover .fa-secondary {
  opacity: 1;
}
.editor .panel-toggle:active {
  transform: rotate(180deg);
}
.editor .logo {
  transform-origin: top left;
  transform: scale(50%);
  margin: -2rem auto -8rem auto;
  padding: 0;
  z-index: 10;
}
.editor h1 {
  color: #ffffff;
}
.editor .editor-content {
  width: 19rem;
}
.editor .editor-content .copyright {
  color: #ffffff;
  font-size: 14px;
}
.editor .editor-content .copyright a {
  text-decoration: none;
  color: #ffffff;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.editor .editor-content .copyright a:hover {
  cursor: pointer;
}
.editor .editor-content .copyright .fa-secondary {
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.editor .editor-content .copyright:hover .fa-secondary {
  opacity: 1;
  animation-name: rainbow;
  animation-timing-function: ease;
}
.editor .editor-content .copyright:hover a {
  animation-name: rainbow;
  animation-timing-function: ease;
}

@keyframes rainbow {
  0% {
    color: #e54b6d;
    fill: #e54b6d;
  }
  16% {
    color: #f39580;
    fill: #f39580;
  }
  32% {
    color: #f0bb54;
    fill: #f0bb54;
  }
  48% {
    color: #b7d58b;
    fill: #b7d58b;
  }
  64% {
    color: #16ae9f;
    fill: #16ae9f;
  }
  80% {
    color: #2dbad2;
    fill: #2dbad2;
  }
  100% {
    color: #e54b6d;
    fill: #e54b6d;
  }
}
.editor-controls {
  background-color: #ffffff;
  border-radius: 15px;
  margin: 0 -0.5rem;
  padding: 1rem;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 60vh;
  box-shadow: 0px 0px 10px #282426;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: center;
}
.editor-controls .menu-root-enter {
  transform: translateX(-110%);
}
.editor-controls .menu-root-enter-active {
  transform: translateX(50%);
  transition: all 0.4s ease;
}
.editor-controls .menu-root-exit-active {
  transform: translateX(-110%);
  transition: all 0.4s ease;
}
.editor-controls .menu-secondary-enter {
  transform: translateX(110%);
}
.editor-controls .menu-secondary-enter-active {
  transform: translateX(-50%);
  transition: all 0.4s ease;
}
.editor-controls .menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all 0.4s ease;
}
.editor-controls .menu {
  display: inline-block;
  width: 100%;
}
.editor-controls .menu .menu-item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 19rem;
  transition: 0.2s ease;
}
.editor-controls .menu .menu-item .menu-icon {
  border-radius: 50%;
  padding: 0.3rem;
  background-color: #dbdbdb;
  margin: 0 0.8rem;
  font-size: 1.2rem;
  color: #ffffff;
  transition: 0.2s ease;
}
.editor-controls .menu .menu-item .menu-icon .fa-primary,
.editor-controls .menu .menu-item .menu-icon .fa-secondary {
  transition: 0.2s ease;
}
.editor-controls .menu .menu-item .right-icon {
  margin-left: auto;
}
.editor-controls .menu .menu-item:hover {
  cursor: pointer;
  background-color: rgba(183, 213, 139, 0.4);
  border-radius: 10px;
}
.editor-controls .menu .menu-item:hover .menu-icon {
  transform: scale(120%);
  background-color: #ffffff;
}
.editor-controls .menu .menu-item:hover .fa-primary {
  fill: #282426;
}
.editor-controls .menu .menu-item:hover .fa-secondary {
  opacity: 1;
  fill: #e54b6d;
}

/* Elements */
.editor input[type=text] {
  border: 2px solid #50484b;
  width: 65%;
  border-radius: 50px;
  text-align: center;
  font-size: 1.2rem;
  box-shadow: inset 0 0 5px #282426;
  padding: 0.5rem;
  margin: 0.3rem 0.8rem;
  font-family: "Raleway", sans-serif;
  transition: 0.2s ease;
}
.editor input[type=text]:hover {
  box-shadow: inset 0 0 5px #2dbad2;
  border: 2px solid #2dbad2;
}
.editor input[type=date] {
  border: none;
  width: 60%;
  border-radius: 50px;
  text-align: center;
  font-size: 1.2rem;
  box-shadow: inset 0 0 5px #282426;
  padding: 0.5rem;
  margin: 0.8rem;
  font-family: "Raleway", sans-serif;
}
.editor label.text-label {
  font-family: "Open Sans", sans-serif;
  margin: 1rem 0.8rem 0.2rem 1rem;
}
.editor .checkbox-section {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.editor .checkbox {
  --border-default: #bbbbc1;
  --border-hover: #9898a3;
  --active: #b7d58b;
  --active-tick: #ffffff;
  display: block;
  width: 18px;
  height: 18px;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  transform: translateY(0.4rem);
}
.editor .checkbox:hover {
  cursor: pointer;
}
.editor .checkbox svg {
  display: block;
  position: absolute;
}
.editor .checkbox input {
  display: block;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 36%/36%;
  box-shadow: inset 0 0 0 1.5px var(--border, var(--border-default));
  background: var(--background, transparent);
  transition: background 0.25s linear, box-shadow 0.25s linear;
}
.editor .checkbox input + svg {
  width: 21px;
  height: 18px;
  left: 0;
  top: 0;
  color: var(--active);
}
.editor .checkbox input + svg .tick {
  stroke-dasharray: 20;
  stroke-dashoffset: var(--stroke-dashoffset, 20);
  transition: stroke-dashoffset 0.2s;
}
.editor .checkbox input + svg .tick.mask {
  stroke: var(--active-tick);
}
.editor .checkbox input + svg + svg {
  width: 11px;
  height: 11px;
  fill: none;
  stroke: var(--active);
  stroke-width: 1.25;
  stroke-linecap: round;
  top: -6px;
  right: -10px;
  stroke-dasharray: 4.5px;
  stroke-dashoffset: 13.5px;
  pointer-events: none;
  animation: var(--animation, none) 0.2s ease 0.175s;
}
.editor .checkbox input:checked {
  --background: var(--active);
  --border: var(--active);
}
.editor .checkbox input:checked + svg {
  --stroke-dashoffset: 0;
}
.editor .checkbox input:checked + svg + svg {
  --animation: check;
}
.editor .checkbox:hover input:not(:checked) {
  --border: var(--border-hover);
}
@keyframes check {
  100% {
    stroke-dashoffset: 4.5px;
  }
}
.editor html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
.editor * {
  box-sizing: inherit;
}
.editor *:before, .editor *:after {
  box-sizing: inherit;
}
.editor body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.editor .current-list {
  background-color: #2dbad2;
  color: #ffffff;
  border-radius: 10px;
  padding: 0.3rem;
  text-align: center;
  width: 90%;
  margin: 1rem auto;
  transition: 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}
.editor .current-list ul {
  padding: 0.6rem;
  margin: 0;
  list-style: none inside;
  width: max-content;
  min-width: 50%;
  background-color: #2dbad2;
}
.editor .current-list ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
  border-radius: 5px;
  overflow: scroll;
  scrollbar-width: thin;
  scrollbar-color: #ffffff #2dbad2;
}
.editor .current-list ul li .icon-button {
  margin-left: auto;
}
.editor .current-list ul li:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.editor .current-list .icon-button {
  color: #ffffff;
}

.editor .editor-menu {
  text-align: left;
}
.editor .multi-op {
  background-color: rgba(80, 72, 75, 0.2);
  padding: 0.6rem 1rem;
  border-radius: 15px;
  margin: 0.4rem 0;
}

.editor button.icon-button {
  border: none;
  background-color: transparent;
  font-size: 1.7rem;
  color: #282426;
}
.editor button.icon-button .fa-secondary,
.editor button.icon-button .fa-primary {
  transition: 0.2s ease;
}
.editor button.icon-button:hover {
  cursor: pointer;
}
.editor button.add-button:hover .fa-primary {
  fill: #ffffff;
}
.editor button.add-button:hover .fa-secondary {
  fill: #b7d58b;
  opacity: 1;
}
.editor button.remove-button:hover .fa-primary {
  fill: #ffffff;
}
.editor button.remove-button:hover .fa-secondary {
  fill: #e54b6d;
  opacity: 1;
}
.editor button.trash-button:hover .fa-primary {
  fill: #ffffff;
}
.editor button.trash-button:hover .fa-secondary {
  fill: #50484b;
  opacity: 1;
}

/* 4) Site Preview */
/* 5) Layout Styles */
:root {
  font-size: 18px;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
}

/*# sourceMappingURL=App.css.map */
